Support multiple handlers (middlewares)

The only change needed is here, loop (`for await of`) over `match.handler` which is always directly whatever is passed as second parameter to all methods, like `.get('/foo', [foo, bar, qux, cors(options), zaz]`

```js
    const asyncHandlerWrapper = async (...args) => {
      return match.handler(...args);
    };
```

## v2

- support for multiple handlers per route (middlewares), and also `.use()` as middlewares
- the main difference with `itty` is
  + a) i didn't know it existed when made the v1, when played with CF
  + b) `itty` and `itty-router-extras` add to / modify the passed `request`, just like Nodejs did - that's a bad thing
  + c) **pure JS**, one day standardized in Web? URLPatternRouter?
- a class of **72 lines**,  **1027b** min, **494b** min+brotli, **565b** min+gzip
	+ 85 lines with the basic comments! Of course, 115 lines with the JSDoc comments
- the key feature remains - URLPattern-based routing, not some regexes
- you can use `@worker-tools/response-creators`, or even `itty-cors` too
- NESTING - easy, use the `.use`, of course.
- NO PREFIX support by default (`base` as it's called on itty)
  + it makes more sense to be called `prefix`, plus I used that term in the `koa` routers that i built in the past
  + use the `.use`, which is exactly the same as the HTTP methods, except it can accept router instance
  + eg. `router.use('/api/users', usersRESTresource)` - it will include the `usersRESTresource` routes to `router`
- constructor follows the `URL` and `URLPattern` - eg. `routes, baseURL, options`
  + eg. `URLPatternRouter(routes = [], baseURL = 'http://s')`
- handlers signature is more standard, eg. `request, context` or `context` with `context.request` in there
  + only Cloudflare Workers deviate with `req, env, ctx` - use `router.handle(req, { ...ctx, env })` for there
- do not modify or touch anything from the `request`, except fixing `req.url` (for example for Node)
- everything like `params, pattern, query` is inside the handler `ctx` param
- works by default for Browsers too (assuming you pass `window.location` instead of `request`
  + that works because we fallback to `req.href`
- works on Nodejs, because we construct new url with `new URL(req.url, baseURL)`
  + we are also setting a default baseURL for every router, `http://s`
  + that allows the Node's `new URL` to create proper URL object, in which we look up for `.url`
- support for calling the next handler in the chain - like `const resp = await ctx.next()`, a la Netlify Edge, Express, Koa

_The named export is `URLPatternRouter` of course_

```js
export class URLPatternRouter {
  /**
   * Create a new Router, optionally pre-fill the routes.
   * The `baseURL` is used to create a new URL instance, so it can work properly
   * with Node, Deno, Netlify, Cloudflare, and the Browser.
   *
   * @param {Route[]} routes - pre-fill the routes to be used
   * @param {string} baseURL - the base URL to be used, defaults to `url.origin`
   */
  constructor(routes = [], baseURL) {
    this.routes = routes;
    this.baseURL = baseURL;

    ["get", "post", "put", "delete", "all"].map((method) => {
      this[method] = (route, ...handlers) => {
        this.routes.push([method.toUpperCase(), route, ...handlers.flat()]);
        return this;
      };
    });
  }

  /**
   * Add a new route to the router.
   * Similar to the HTTP's method methods like `.get`, `.post`, etc.
   * It can also be used to add the routes of another router to this router,
   * for example, to add a prefix to all the routes of the other router.
   *
   * @param {string} prefix - the prefix to be added to the route
   * @param {URLPatternRouter|Handler} router - the router to be used or `...handlers`
   * @param  {...any} args - handlers, if it's used as methods like `.get`, `.post`, etc
   * @returns
   */
  use(prefix, router, ...args) {
    if (router instanceof URLPatternRouter) {
      router.routes.map(([method, route, ...handlers]) =>
        this.routes.push([method, prefix + route, ...handlers])
      );
    } else if (typeof prefix !== "string") {
      const handlers = [prefix, router, ...args].flat().filter(Boolean);
      this.routes.push(["*", "", ...handlers]);
    } else {
      this.routes.push(["*", prefix, ...[router, ...args].flat()]);
    }

    return this;
  }

  /**
   * Handle a request, and call the handlers of the first matching route.
   * It can accept Node's Request (which is non Web Request), Cloudflare's Request,
   * Deno's Request, and you can also pass just `window.location` if you use in it the browser.
   *
   * For usage in the browser you can also do `router.handle(new Request(new URL(window.location.href)))`.
   *
   * @param {Request} request - the request, or object with `url` and `method` properties
   * @param {object} context - the context object, contains `params`, `query`, and more.
   * @param  {...any} args - additional arguments to be passed to the handlers
   */
  async handle(request, ...args) {
    const that = this;
    // handle Node, Cloudflare, Deno, and the Browser
    // Note 1: Node does not have standard URL on the req.url,
    // but we force setting baseURL here, so it's fixed.
    // Note 2: to work as Browser router, we just fallback to .href,
    // we are assuming you pass window.location
    let url = new URL(request.url || request.href, that.baseURL || "http://s");

    // use Object.create so query params like toString=123 work properly
    const query = Object.create(null);
    const context = Object.create(null);
    context.request = request;
    context.url = url;
    context.baseURL = that.baseURL || url.origin;

    // patch for consistency
    const reqMethod = context.request.method.toUpperCase();
    context.method = reqMethod;
    context.pathname = context.url.pathname;
    context.searchParams = context.url.searchParams;
    context.headers = context.request.headers ?? {};

    for (let [k, v] of context.url.searchParams) {
      query[k] = query[k] === undefined ? v : [query[k], v].flat();
    }
    context.query = query;

    console.log(this.routes);
    for (let [method, route, ...handlers] of that.routes) {
      // we are making a URLPattern here andnot abot in the method calling
      // becase here we are able to handle the pre-defined routes,
      // if any, to the Router constructor
      const pattern = new URLPattern(route, context.baseURL);
      context.route = { method, route, handlers, pattern };

      if (
        ((method.toUpperCase() === reqMethod || context.method === "ALL") &&
          (context.match = pattern.exec(context.pathname, context.baseURL))) ||
        method === "*"
      ) {
        context.params = context.match?.pathname?.groups || {};

        let i = 0;
        for await (const handler of handlers) {
          // allow calling the next middleware in the chain
          async function next(idx) {
            context.next = async () => next(idx + 2); // TODO: 2 or 1 here?! erm...
            return handlers[idx + 1]?.(context, ...args);
          }

          context.next = async () => next(i);
          const resp = await handler(context, ...args);

          i += 1;
          if (resp !== undefined) {
            return resp;
          }
        }
      }
    }
  }
}


```

Fully typed..

```ts
export type RouteHandlerContext = {
  request: Request;
  url: URL;
  baseURL: string;
  method: string;
  pathname: string;
  searchParams: URLSearchParams;
  headers: Headers;
  query: Record<string, string | string[] | undefined>;
  next: () => Promise<Response | undefined>;
  params: Record<string, string | any>;
  match: URLPatternResult | null;
  proxy?: Request;
  route: {
    method: string;
    route: string | RoutePattern;
    handlers: RouteHandler[];
    pattern: URLPattern;
  };
};

export type RouteHandler = (
  context: RouteHandlerContext,
  ...args: any[]
) => any | Response | Promise<any | Response>;

export type RoutePattern = string | URL | URLPattern;
export type RouteEntry = [string, RoutePattern, ...RouteHandler[]];

export type RequestLike = {
  href?: string;
} & Request;

export type RouteMethod = <T extends URLPatternRouter>(
  route: RoutePattern,
  ...handlers: RouteHandler[]
) => T;

// export type RouterMethodHints = {
//   get: RouteMethod;
//   post: RouteMethod;
//   put: RouteMethod;
//   delete: RouteMethod;
//   patch: RouteMethod;
//   options: RouteMethod;
//   all: RouteMethod;
// };

// export type RouterType = URLPatternRouter & RouterMethodHints;

export class URLPatternRouter {
  baseURL: string | undefined;
  routes: RouteEntry[];

  get: RouteMethod;
  post: RouteMethod;
  put: RouteMethod;
  delete: RouteMethod;
  patch: RouteMethod;
  options: RouteMethod;
  all: RouteMethod;

  /**
   * Create a new Router, optionally pre-fill the routes.
   * The `baseURL` is used to create a new URL instance, so it can work properly
   * with Node, Deno, Netlify, Cloudflare, and the Browser.
   *
   * @param {Route[]} routes - pre-fill the routes to be used
   * @param {string} baseURL - the base URL to be used, defaults to `url.origin`
   */
  constructor(routes?: RouteEntry[], baseURL?: string) {
    this.routes = routes || [];
    this.baseURL = baseURL;

    ["get", "post", "put", "delete", "patch", "options", "all"].map(
      (method) => {
        this[method] = (
          route: RoutePattern,
          ...handlers: RouteHandler[]
        ): URLPatternRouter => {
          this.routes.push([method.toUpperCase(), route, ...handlers.flat()]);
          return this;
        };
      }
    );
  }

  /**
   * Add a new route to the router.
   * Similar to the HTTP's method methods like `.get`, `.post`, etc.
   * It can also be used to add the routes of another router to this router,
   * for example, to add a prefix to all the routes of the other router.
   *
   * @param {string} prefix - the prefix to be added to the route
   * @param {URLPatternRouter|Handler} router - the router to be used or `...handlers`
   * @param  {...any} args - handlers, if it's used as methods like `.get`, `.post`, etc
   * @returns
   */

  use(...handlers: RouteHandler[]);
  use(prefix: string | RouteHandler, ...handlers: RouteHandler[]);
  use(prefix: string | RouteHandler, router: URLPatternRouter);
  use(
    prefix: string | RouteHandler,
    router: URLPatternRouter | RouteHandler,
    ...args: RouteHandler[]
  ) {
    if (router instanceof URLPatternRouter) {
      router.routes.map(([method, route, ...handlers]) =>
        this.routes.push([method, (prefix as string) + route, ...handlers])
      );
    } else if (typeof prefix !== "string") {
      const handlers = [prefix, router, ...args].flat().filter(Boolean);
      this.routes.push(["*", "", ...handlers]);
    } else {
      this.routes.push(["*", prefix, ...[router, ...args].flat()]);
    }

    return this;
  }

  // extendWith(prefix: string, ...routers: URLPatternRouter[]) {
  //   if (typeof prefix !== "string") {
  //     routers.unshift(prefix);
  //   }
  //   routers.forEach((router) => {
  //     router.routes.forEach((entry: RouteEntry) => {
  //       const [method, pattern, ...handlers] = entry;
  //       this.routes.push([
  //         method,
  //         typeof prefix === "string" ? prefix + pattern : pattern,
  //         ...handlers,
  //       ]);
  //     });
  //   });

  //   return this;
  // }

  /**
   * Handle a request, and call the handlers of the first matching route.
   * It can accept Node's Request (which is non Web Request), Cloudflare's Request,
   * Deno's Request, and you can also pass just `window.location` if you use in it the browser.
   *
   * For usage in the browser you can also do `router.handle(new Request(new URL(window.location.href)))`.
   *
   * @param {Request} request - the request, or object with `url` and `method` properties
   * @param {object} context - the context object, contains `params`, `query`, and more.
   * @param  {...any} args - additional arguments to be passed to the handlers
   */
  async handle(request: RequestLike, ...args: any[]) {
    const that = this;
    // handle Node, Cloudflare, Deno, and the Browser
    // Note 1: Node does not have standard URL on the req.url,
    // but we force setting baseURL here, so it's fixed.
    // Note 2: to work as Browser router, we just fallback to .href,
    // we are assuming you pass window.location
    let url = new URL(request.url || request.href!, that.baseURL || "http://s");

    // use Object.create so query params like toString=123 work properly
    const query = Object.create(null);
    const context: RouteHandlerContext = Object.create(null);
    const reqMethod = request.method.toUpperCase();

    context.request = request;
    context.url = url;
    context.baseURL = that.baseURL || url.origin;
    context.method = reqMethod;
    context.pathname = context.url.pathname;
    context.searchParams = context.url.searchParams;
    context.headers = context.request.headers ?? {};

    for (let [k, v] of context.url.searchParams) {
      query[k] = query[k] === undefined ? v : [query[k], v].flat();
    }
    context.query = query;

    for (let [method, route, ...handlers] of that.routes) {
      // we are making a URLPattern here andnot abot in the method calling
      // becase here we are able to handle the pre-defined routes,
      // if any, to the Router constructor
      const pattern = new URLPattern(route, context.baseURL);
      context.route = { method, route, handlers, pattern };

      if (
        ((method.toUpperCase() === reqMethod || context.method === "ALL") &&
          (context.match = pattern.exec(context.pathname, context.baseURL))) ||
        method === "*"
      ) {
        context.params = context.match?.pathname?.groups || {};

        let i = 0;
        for await (const handler of handlers) {
          // allow calling the next middleware in the chain
          async function next(idx: number) {
            context.next = async () => next(idx + 2); // TODO: 2 or 1 here?! erm...
            return handlers[idx + 1]?.(context, ...args);
          }

          context.next = async () => next(i);
          const resp = await handler(context, ...args);

          i += 1;
          if (resp !== undefined) {
            return resp;
          }
        }
      }
    }
  }
}

```

formidable v2303

```js
// SPDX-License-Identifier: Apache-2.0 OR MIT
import { multipart } from "./formidable-multipart-2303.js";

export * from "./formidable-multipart-2303.js";

// await formidable(settings).formData(request)
// await formidable().formData(request, settings)
// recommended: await formidable(req, settings).formData()
export function formidable(req, settings = {}) {
  if (req && typeof req === "object" && !req.headers) {
    settings = req && typeof req === "object" ? req : settings;
    req = false;
  }

  async function formData(request = req, options = {}) {
    if (!request) {
      throw new Error(
        "Request is required. Pass it as formidable(req) or the method."
      );
    }

    const opts = { ...settings, ...options };
    const { parser, toFormData } = await multipart(request, opts);

    installGivenHooks(parser, opts.hooks, opts);

    return toFormData({ request, parser });
  }

  return { formData };
}

function installGivenHooks(parser = {}, hooks = {}, settings = {}) {
  const hooksList = Object.keys(parser)
    .filter((x) => x.startsWith("on"))
    .concat("onEnd");

  const hooksMap = { ...hooks };

  for (const hookName of hooksList) {
    const internalHookFn = parser[hookName];

    // eslint-disable-next-line no-param-reassign
    parser[hookName] = (...args) => {
      const onBeforeHookFn = hooksMap[hookName];

      if (typeof onBeforeHookFn === "function") {
        onBeforeHookFn(...args);
      }

      if (settings && settings.skipInternal !== true) {
        internalHookFn(...args);
      }

      const cleanHookName = hookName.slice(2);
      const onAfterHookFn = hooksMap[`onAfter${cleanHookName}`];
      if (typeof onAfterHookFn === "function") {
        onAfterHookFn(...args);
      }
    };
  }
}

```

and formidable-multipart v2303 (no deps on `formdata-polyfill`)

```js
// SPDX-License-Identifier: Apache-2.0 OR MIT

/* eslint-disable promise/prefer-await-to-callbacks */
/* eslint-disable prefer-const */
/* eslint-disable no-plusplus */
/* eslint-disable max-params */
/* eslint-disable no-bitwise */

// import { FormData, File as FilePolyfill } from "formdata-polyfill/esm.min.js";

let s = 0;
const S = {
  START_BOUNDARY: s++,
  HEADER_FIELD_START: s++,
  HEADER_FIELD: s++,
  HEADER_VALUE_START: s++,
  HEADER_VALUE: s++,
  HEADER_VALUE_ALMOST_DONE: s++,
  HEADERS_ALMOST_DONE: s++,
  PART_DATA_START: s++,
  PART_DATA: s++,
  END: s++,
};

let f = 1;
const F = {
  PART_BOUNDARY: f,
  LAST_BOUNDARY: (f *= 2),
};

const LF = 10;
const CR = 13;
const SPACE = 32;
const HYPHEN = 45;
const COLON = 58;
const A = 97;
const Z = 122;

const lower = (c) => c | 0x20;

const noop = () => {};

export class MultipartParser {
  /**
   * @param {string} boundary
   */
  constructor(boundary) {
    this.index = 0;
    this.flags = 0;

    this.onHeaderEnd = noop;
    this.onHeaderField = noop;
    this.onHeadersEnd = noop;
    this.onHeaderValue = noop;
    this.onPartBegin = noop;
    this.onPartData = noop;
    this.onPartEnd = noop;
    this.onEnd = noop;

    this.boundaryChars = {};

    // eslint-disable-next-line no-param-reassign
    boundary = `\r\n--${boundary}`;
    const ui8a = new Uint8Array(boundary.length);
    for (let i = 0; i < boundary.length; i++) {
      ui8a[i] = boundary.codePointAt(i);
      this.boundaryChars[ui8a[i]] = true;
    }

    this.boundary = ui8a;
    this.lookbehind = new Uint8Array(this.boundary.length + 8);
    this.state = S.START_BOUNDARY;
  }

  /**
   * @param {Uint8Array} data
   */
  write(data) {
    let i = 0;
    const length_ = data.length;
    let previousIndex = this.index;
    let { lookbehind, boundary, boundaryChars, index, state, flags } = this;
    const boundaryLength = boundary.length;
    const boundaryEnd = boundaryLength - 1;
    const bufferLength = data.length;
    let c;
    let cl;

    const mark = (name) => {
      this[`${name}Mark`] = i;
    };

    const clear = (name) => {
      delete this[`${name}Mark`];
    };

    const callback = (callbackSymbol, start, end, ui8a) => {
      if (start === undefined || start !== end) {
        this[callbackSymbol](ui8a && ui8a.subarray(start, end));
      }
    };

    const dataCallback = (name, shouldClear) => {
      const markSymbol = `${name}Mark`;
      if (!(markSymbol in this)) {
        return;
      }

      if (shouldClear) {
        callback(name, this[markSymbol], i, data);
        delete this[markSymbol];
      } else {
        callback(name, this[markSymbol], data.length, data);
        this[markSymbol] = 0;
      }
    };

    for (i = 0; i < length_; i++) {
      c = data[i];

      switch (state) {
        case S.START_BOUNDARY:
          if (index === boundary.length - 2) {
            if (c === HYPHEN) {
              flags |= F.LAST_BOUNDARY;
            } else if (c !== CR) {
              return;
            }

            index++;
            break;
          } else if (index - 1 === boundary.length - 2) {
            if (flags & F.LAST_BOUNDARY && c === HYPHEN) {
              state = S.END;
              flags = 0;
            } else if (!(flags & F.LAST_BOUNDARY) && c === LF) {
              index = 0;
              callback("onPartBegin");
              state = S.HEADER_FIELD_START;
            } else {
              return;
            }

            break;
          }

          if (c !== boundary[index + 2]) {
            index = -2;
          }

          if (c === boundary[index + 2]) {
            index++;
          }

          break;
        case S.HEADER_FIELD_START:
          state = S.HEADER_FIELD;
          mark("onHeaderField");
          index = 0;
        // falls through
        case S.HEADER_FIELD:
          if (c === CR) {
            clear("onHeaderField");
            state = S.HEADERS_ALMOST_DONE;
            break;
          }

          index++;
          if (c === HYPHEN) {
            break;
          }

          if (c === COLON) {
            if (index === 1) {
              // empty header field
              return;
            }

            dataCallback("onHeaderField", true);
            state = S.HEADER_VALUE_START;
            break;
          }

          cl = lower(c);
          if (cl < A || cl > Z) {
            return;
          }

          break;
        case S.HEADER_VALUE_START:
          if (c === SPACE) {
            break;
          }

          mark("onHeaderValue");
          state = S.HEADER_VALUE;
        // falls through
        case S.HEADER_VALUE:
          if (c === CR) {
            dataCallback("onHeaderValue", true);
            callback("onHeaderEnd");
            state = S.HEADER_VALUE_ALMOST_DONE;
          }

          break;
        case S.HEADER_VALUE_ALMOST_DONE:
          if (c !== LF) {
            return;
          }

          state = S.HEADER_FIELD_START;
          break;
        case S.HEADERS_ALMOST_DONE:
          if (c !== LF) {
            return;
          }

          callback("onHeadersEnd");
          state = S.PART_DATA_START;
          break;
        case S.PART_DATA_START:
          state = S.PART_DATA;
          mark("onPartData");
        // falls through
        case S.PART_DATA:
          previousIndex = index;

          if (index === 0) {
            // boyer-moore derrived algorithm to safely skip non-boundary data
            i += boundaryEnd;
            while (i < bufferLength && !(data[i] in boundaryChars)) {
              i += boundaryLength;
            }

            i -= boundaryEnd;
            c = data[i];
          }

          if (index < boundary.length) {
            if (boundary[index] === c) {
              if (index === 0) {
                dataCallback("onPartData", true);
              }

              index++;
            } else {
              index = 0;
            }
          } else if (index === boundary.length) {
            index++;
            if (c === CR) {
              // CR = part boundary
              flags |= F.PART_BOUNDARY;
            } else if (c === HYPHEN) {
              // HYPHEN = end boundary
              flags |= F.LAST_BOUNDARY;
            } else {
              index = 0;
            }
          } else if (index - 1 === boundary.length) {
            if (flags & F.PART_BOUNDARY) {
              index = 0;
              if (c === LF) {
                // unset the PART_BOUNDARY flag
                flags &= ~F.PART_BOUNDARY;
                callback("onPartEnd");
                callback("onPartBegin");
                state = S.HEADER_FIELD_START;
                break;
              }
            } else if (flags & F.LAST_BOUNDARY) {
              if (c === HYPHEN) {
                callback("onPartEnd");
                state = S.END;
                flags = 0;
              } else {
                index = 0;
              }
            } else {
              index = 0;
            }
          }

          if (index > 0) {
            // when matching a possible boundary, keep a lookbehind reference
            // in case it turns out to be a false lead
            lookbehind[index - 1] = c;
          } else if (previousIndex > 0) {
            // if our boundary turned out to be rubbish, the captured lookbehind
            // belongs to partData
            const _lookbehind = new Uint8Array(
              lookbehind.buffer,
              lookbehind.byteOffset,
              lookbehind.byteLength
            );
            callback("onPartData", 0, previousIndex, _lookbehind);
            previousIndex = 0;
            mark("onPartData");

            // reconsider the current character even so it interrupted the sequence
            // it could be the beginning of a new sequence
            i--;
          }

          break;
        case S.END:
          break;
        default:
          throw new Error(`Unexpected state entered: ${state}`);
      }
    }

    dataCallback("onHeaderField");
    dataCallback("onHeaderValue");
    dataCallback("onPartData");

    // Update properties for the next call
    this.index = index;
    this.state = state;
    this.flags = flags;
  }

  end() {
    if (
      (this.state === S.HEADER_FIELD_START && this.index === 0) ||
      (this.state === S.PART_DATA && this.index === this.boundary.length)
    ) {
      this.onPartEnd();
    } else if (this.state !== S.END) {
      throw new Error("MultipartParser.end(): stream ended unexpectedly");
    }
  }
}

function _fileName(headerValue) {
  // matches either a quoted-string or a token (RFC 2616 section 19.5.1)
  const m = headerValue.match(
    /\bfilename=("(.*?)"|([^\s"(),/:;<=>?@[\\\]{}]+))($|;\s)/i
  );
  if (!m) {
    return null;
  }

  const match = m[2] || m[3] || "";
  let filename = match.slice(match.lastIndexOf("\\") + 1);
  filename = filename.replace(/%22/g, '"');
  filename = filename.replace(/&#(\d{4});/g, (_, code) =>
    String.fromCodePoint(code)
  );

  return filename;
}

export async function multipart(req, options = {}) {
  const ct = req.headers["content-type"];

  if (!/multipart/i.test(ct)) {
    throw new TypeError("Failed! The parser supports only multipart/form-data");
  }
  if (typeof options.createFile !== "function") {
    options.createFile = (...args) => new options.File(...args);
  }

  const m = ct.match(/boundary=(?:"([^"]+)"|([^;]+))/i);

  if (!m) {
    throw new TypeError("no or bad content-type header, no multipart boundary");
  }

  const parser = new MultipartParser(m[1] || m[2]);

  let headerField;
  let headerValue;
  let entryValue;
  let entryName;
  let contentType;
  let filename;
  const entryChunks = [];
  const formData = new options.FormData();

  // eslint-disable-next-line node/no-unsupported-features/node-builtins
  const decoder = new TextDecoder("utf8");
  decoder.decode();

  const onPartData = (ui8a) => {
    entryValue += decoder.decode(ui8a, { stream: true });
  };

  const appendToFile = (ui8a) => {
    entryChunks.push(ui8a);
  };

  const appendFileToFormData = () => {
    const file = options.createFile(entryChunks, filename, {
      ...options,
      type: contentType,
    });
    formData.append(entryName, file);
  };

  const appendEntryToFormData = () => {
    formData.append(entryName, entryValue);
  };

  parser.onPartBegin = () => {
    parser.onPartData = onPartData;
    parser.onPartEnd = appendEntryToFormData;

    headerField = "";
    headerValue = "";
    entryValue = "";
    entryName = "";
    contentType = "";
    filename = null;
    entryChunks.length = 0;
  };

  parser.onHeaderField = (ui8a) => {
    headerField += decoder.decode(ui8a, { stream: true });
  };

  parser.onHeaderValue = (ui8a) => {
    headerValue += decoder.decode(ui8a, { stream: true });
  };

  parser.onHeaderEnd = () => {
    headerValue += decoder.decode();
    headerField = headerField.toLowerCase();

    if (headerField === "content-disposition") {
      // matches either a quoted-string or a token (RFC 2616 section 19.5.1)
      const match = headerValue.match(
        /\bname=("([^"]*)"|([^\s"(),/:;<=>?@[\\\]{}]+))/i
      );

      if (match) {
        entryName = match[2] || match[3] || "";
      }

      filename = _fileName(headerValue);

      if (filename) {
        parser.onPartData = appendToFile;
        parser.onPartEnd = appendFileToFormData;
      }
    } else if (headerField === "content-type") {
      contentType = headerValue;
    }

    headerValue = "";
    headerField = "";
  };

  return {
    parser,

    async toFormData(settings) {
      const opts = { request: req, parser, ...settings };

      for await (const chunk of opts.request) {
        opts.parser.write(chunk);
      }

      opts.parser.onEnd();
      opts.parser.end();

      return formData;
    },
  };
}

// export * from "formdata-polyfill/esm.min.js";

```

dush v2303

```js
export const dush = () => {
  const app = Object.create(null);
  app.events = new Map();
  app.use = (...plugins) => plugins.reduce((acc, plugin) => plugin(acc), app);

  app.on = (name, handler) => {
    if (app.events.has(name)) {
      app.events.get(name).add(handler);
    } else {
      app.events.set(name, new Set([handler]));
    }

    return app;
  };

  app.once = (name, handler) => {
    if (app.events.has(name)) {
      const set = app.events.get(name);
      handler._once = true;

      if (set.size === 1) {
        return app;
      }

      set.add(handler);
      return app;
    }

    const set = new Set();
    app.events.set(name, set);
    return app;
  };

  app.off = (name, handler) => {
    if (!name) {
      console.log("full clean not implemented yet");
      // Note: bugs with that
      // app.events.clear();
      return app;
    }
    if (name && !handler) {
      app.events.set(name, new Set());
      return app;
    }

    const set = app.events.get(name);
    if (set?.has(handler)) {
      set.delete(handler);
    }

    return app;
  };

  // app.emit = (name, ...args) => {
  //   for (const [eventName, handlers] of app.events.entries()) {
  //     if (eventName === name) {
  //       for (const handler of handlers) {
  //         if (handlers.size === 1 && handler._once === true) {
  //           app.off(name, handler);
  //           handler(...args);
  //         } else {
  //           handler(...args);
  //         }
  //       }
  //     }
  //   }
  //   return app;
  // };

  app.emit = (name, ...args) => {
    if (!app.events.has(name)) {
      return app;
    }
    const set = app.events.get(name);
    const handlers = set.values();

    for (const handler of handlers) {
      if (handler._once === true) {
        console.log({ size: set.size, name });
        app.off(name, handler);
      }
      handler(...args);
    }
    return app;
  };
  return app;
};

// import emitter from "observer-emit";
// const emitter = dush();

// const foobie = () => {};
// app.on("foo", foobie);
// app.on("foo", foobie);
// app.on("foo", foobie);
// app.on("foo", foobie);
// app.on("foo", foobie);

// const fooSecond = (a, b) => console.log("foo:second", a, b);
// emitter.on("foo", (a, b) => console.log("foo:one", a, b));
// emitter.on("foo", fooSecond);

// emitter.emit("foo", "a", "b");
// emitter.off("foo");

// // emitter.on("foo", (a, b) => console.log("foo:third (not fired)", a, b));
// emitter.emit("foo", "foo:third", "bbbb");

// emitter.once("bar", (a, b) => console.log("bar:once", a, b));
// emitter.emit("bar", "a", "b");
// emitter.emit("bar", "ac", "bc");

// emitter.on("qux", (aa, bb) => console.log("qux:1", aa, bb));
// emitter.once("qux", (a, b) => console.log("qux:once", a, b));
// emitter.emit("qux", "aabbcc");
// emitter.emit("qux", "aabbcc");

// function signal(name, subs) {
//   const app = Object.create(null);
//   app.eventsMap = new Map();

//   app.on = (name, handler) => {
//     if (app.eventsMap.has(name)) {
//       app.eventsMap.get(name).add(handler);
//     } else {
//       app.eventsMap.set(name, new Set([handler]));
//     }
//   };
//   app.off = (name, handler) => {};
//   app.once = (handler) => {
//     app.on(function __onceHandler(...args) {
//       // yes we first call the listener, then remove this current `func`tion
//       handler(...args);
//       app.off(__onceHandler);
//     });
//     return app;
//   };

//   app.emit = (...args) => {
//     app.subs.forEach((handler) => {
//       if (handler._eventName === name) {
//         handler(...args);
//       }
//     });
//     return app;
//   };

//   return app;
// }

// function dush() {
//   const app = Object.create(null);
//   app.subs = new Set();
//   app.maps = new Map();

//   ["on", "off", "once", "emit"].forEach((method) => {
//     app[method] = (name, ...args) => {
//       if (method === "off" && !name) {
//         // app.subs.clear();
//         app.maps.clear();
//         return app;
//       }

//       if (app.maps.has(name)) {
//         app.maps.get(name)[method](...args);
//       } else {
//         const sig = signal(name, app.subs);
//         app.maps.set(name, sig);
//         sig[method](...args);
//       }
//       return app;
//     };
//   });

//   // app.use = (...plugins) => plugins.reduce((acc, plugin) => plugin(acc), app);

//   return app;
// }

// const foo = signal("foo");
// const fooOne = (a, b) => console.log("foo:1", a, b);
// foo.on(fooOne);
// foo.on((a, b) => console.log("foo:2", a, b));
// foo.once((a, b) => console.log("foo:3", a, b));
// foo.once((a, b) => console.log("foo:4", a, b));
// foo.on((a, b) => console.log("foo:5", a, b));
// foo.on((a, b) => console.log("foo:6", a, b));

// const bar = signal("bar");
// const barOne = (a, b) => console.log("bar:1", a, b);
// bar.on(barOne);
// bar.on((a, b) => console.log("bar:2", a, b));
// bar.once((a, b) => console.log("bar:3", a, b));
// bar.once((a, b) => console.log("bar:4", a, b));
// bar.on((a, b) => console.log("bar:5", a, b));
// bar.on((a, b) => console.log("bar:6", a, b));

// bar.emit("foo", "111", "b");
// bar.emit("bar", "22", "barry");
// console.log("----");
// signals.emit("foo", "222", "b");
// console.log("----");
// signals.off("foo", fooOne);
// signals.emit("foo", "333", "b");
// console.log("----");
// signals.off("foo");
// signals.emit("foo", "444", "b");
// console.log("----");
// signals.emit("foo", "555", "b");
// console.log("----");
// signals.emit("foo", "666", "b");
// console.log("----");

const signals = dush();

// const foo = signal("foo");
// const fooOne = (a, b) => console.log("foo:1", a, b);
// signals.on("foo", fooOne);
// signals.on("foo", (a, b) => console.log("foo:2", a, b));
// signals.once("foo", (a, b) => console.log("foo:3", a, b));
// signals.once("foo", (a, b) => console.log("foo:4", a, b));
// signals.on("foo", (a, b) => console.log("foo:5", a, b));
// signals.on("foo", (a, b) => console.log("foo:6", a, b));

// // const bar = signal("bar");
// const barOne = (a, b) => console.log("bar:1", a, b);
// signals.on("bar", barOne);
// signals.on("bar", (a, b) => console.log("bar:2", a, b));
// signals.once("bar", (a, b) => console.log("bar:3", a, b));
// signals.once("bar", (a, b) => console.log("bar:4", a, b));
// signals.on("bar", (a, b) => console.log("bar:5", a, b));
// signals.on("bar", (a, b) => console.log("bar:6", a, b));

// signals.once("bar", (a, b) => console.log("bar:once", a, b));
// signals.emit("bar", "bar1", "bar2");
// signals.off("bar", barOne);
// signals.emit("bar", "bar3", "bar4");
// signals.off("bar");
// signals.emit("bar", "bar5", "bar5");
// signals.off();
// signals.emit("bar", "barZ", "barZZ");
// signals.emit("foo", "foo6", "foo6");
// signals.emit("foo", "foo777", "foo777");

signals.on("qux", (aa, bb) => console.log("qux:1", aa, bb));
// signals.on("qux", (aacc, bbcc) => console.log("qux:2", aacc, bbcc));
signals.once("qux", (a, b) => console.log("qux:once", a, b));

signals.emit("qux", "aabbcc");
signals.emit("qux", "aabbcc");
signals.emit("qux", "aabbcc");
signals.emit("qux", "aabbcc");

```